* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.board {
  --cell-size: 20vmin;
  --cell-gap: 2vmin;

  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--repeat-count), var(--cell-size));
  grid-template-rows: repeat(var(--repeat-count), var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 1vmin;
}

.cell {
  border-radius: 1vmin;
  background-color: #444;
}

.tile {
  --y: 0;
  --x: 0;
  --bg-lightness: 90%;
  --text-lightness: 35%;
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5vmin;
  font-weight: bold;
  border-radius: 1vmin;
  background-color: hsl(25, 60%, var(--bg-lightness));
  color: hsl(20, 25%, var(--text-lightness));
  animation: show 200ms;
  transition: 100ms;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 20%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  border: 3px solid #f6e6da;
  border-radius: 14px;
}

.popup__message {
  margin-bottom: 15px;
  font-size: 30px;
  color: #f6e6da;
}

.popup__button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f6e6da;
}
